@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

li{
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: 2px solid transparent;
}

.nav__links li.active {
    border-color: black; 
  }

.nav__links li span{
    transition: all 0.3s ease 0s;
}

.nav__links li span:hover{
    color: red;
}


.instructionContainer {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 20px;
  }
  
  .instructionText {
    font-weight: 500;
    font-size: 22px;
    color: black;
    text-align: center; 
  }