@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    font-family: "Montserrat",sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
.main{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 10px;
}

.slideBar{
    height: 100vh;
    background-color: rgb(150, 120, 120);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainGuide{
    background-color: aqua;
}

h1{
    font-size: 28px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.link{
  text-decoration: none;
}


/* adpadptiove*/

@media (max-width:1200px) {
    .main{
        width: 1000px;
        grid-template-columns: 1fr 280px;
    }
}

@media (max-width:1000px){
    .main{
        width: 750px;
        grid-template-columns: 1fr 250px;
    }
}

@media (max-width:750px){
    .main{
        width: 480px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: 100px;
    }
}

@media (max-width:480px){
    .main{
        width: 100%;
    }
}

@media (min-width: 768px) {
    .button-64 {
      font-size: 20px;
      min-width: 196px;
    }
  }


/* b=uttons*/
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  width: 280px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin: 30px 0;
  flex-grow: 1;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}
